body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cont {
    background-color: #cec6c6;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(110, 111, 102);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #343a40;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #495057;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#hello {
    margin-top: 20px;
    font-size: 38px;
    font-weight:bolder;
    color: #495057;
}
